$gray: #a5afb9;
$darkgray: #848C9F;
$lightgray: #d6dce2;
$lightgreen: #00FEAD;
$green: #05FDAD;
$darkblue: #2c3e50;
$black: #080A13;
$lightblack: #171A25;
$red: #AD062B;
$blue: #2980b9;
$yellow: #F5BA19;



