@media (min-width: 500px) {
}

@media (min-width: 900px) {
  .margin-top10-desktop {
    margin-top: 10px !important;
  }
  .padding10-desktop {
    padding: 10px !important;
  }
  .margin-right10-desktop {
    margin-right: 10px !important;
  }
  .margin-bottom0-desktop {
    margin-bottom: 0 !important;
  }
  .margin-right20-desktop {
    margin-right: 20px !important;
  }
  .margin-left20-desktop {
    margin-left: 20px !important;
  }
  .margin-bottom20-desktop {
    margin-bottom: 20px !important;
  }
  .excerpt {
    width: 280px !important;
  }
  .widthHalf-desktop {
    width: 50% !important;
  }
  .column-desktop {
    flex-direction: column !important;
  }
  .flex-desktop {
    display: flex !important;
  }
  .width100-desktop {
    width: 100% !important;
  }

  .block-desktop {
    display: block !important;
  }
  .hide-desktop {
    display: none !important;
  }
}

@media (min-width: 1100px) {
  .my-container {
    width: 1000px !important;
  }
}

@media (min-width: 1200px) {
  .hide-only-desktop {
    display: none !important;
  }
  .show-only-desktop {
    display: flex !important;
  }
}

@media (min-width: 1300px) {
  .my-container {
    width: 1200px !important;
  }
}
